__pycache__/
*.py[cod]
*.so
.Python
*.egg-info/
build/
develop-eggs/
dist/
pyx/build/
pyx/config.pxi
pyx/ctubes.h
docs/_build/
run-tests
.cache/
.pytest_cache/
*.dSYM/
.DS_Store
docs/_build

# Generated build files
test-run.o
pyx/tubes.cpp
pyx/ctubes.cpp
pyx/iter_defs.pxi
wheelhouse/*

# Cython html files
pyx/*.html
# Cython generated header file
pyx/tubes.h
