__pycache__/
*.py[cod]
*.so
.Python
*.egg-info/
build/
develop-eggs/
dist/
pyx/build/
docs/_build/
run-tests
.cache/
.pytest_cache/
*.dSYM/
.DS_Store

# Generated build files
test-run.o
pyx/tubes.cpp
pyx/iter_defs.pxi
wheelhouse/*
pyx/tubes.h
