html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 2em; /* bottom = footer height */
    padding: 25px;
}

div.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2em;
    width: 100%;
    overflow:hidden;
    margin: 0;
    text-align: center;
}

pre, tt, code{
    font-size: 0.8em;
}

.noshow{
    display: none;
}