name: Create Release

on:
  push:

jobs:
  linux:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-18.04]
        python-version: ['cp37-cp37m', 'cp38-cp38']

    steps:
    - name: Checkout repo
      uses: actions/checkout@v1
      with:
        submodules: true
    - name: Build linux wheel ${{ matrix.python-version }}
      uses: "./"
      with:
        args: "make-wheel ${{ matrix.python-version}}"
    - name: Test wheel
      uses: "./"
      with:
        args: "test-wheel ${{ matrix.python-version}}"
    - name: "Upload wheel"
      uses: actions/upload-artifact@v1
      with:
        name: linux-${{ matrix.python-version }}
        path: wheelhouse
      

  osx:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macOS-latest]
        python-version: [37, 38]

    steps:
    - name: Checkout repo
      uses: actions/checkout@v1
      with:
        submodules: true
    - name: Select Xcode
      run: sudo xcode-select --switch /Applications/Xcode_11.1.app/Contents/Developer
    - name: Build Deps
      run: pip3 install -r build_requirements.txt
    - name: Make wheels
      run: pip3 wheel . -w wheelhouse/
    - name: "Install wheel"
      run: pip install wheelhouse/pytubes*.whl
    - name: "Test wheel"
      run: pip install numpy pyarrow pandas && pytest test
    - name: Make export dir
      run: mkdir export && cp wheelhouse/pytubes*.whl export/
    - name: "Upload wheel"
      uses: actions/upload-artifact@v1
      with:
        name: macos-${{ matrix.python-version }}
        path: export
  collect:
    needs: [osx, linux]
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/download-artifact@master
        with:
          name: macos-37
          path: wheelhouse/
      - uses: actions/download-artifact@master
        with:
          name: macos-38
          path: wheelhouse/
      - uses: actions/download-artifact@master
        with:
          name: linux-cp37-cp37m
          path: wheelhouse/
      - uses: actions/download-artifact@master
        with:
          name: linux-cp38-cp38
          path: wheelhouse/
      - name: list
        run: ls -lahr wheelhouse
      
